.main-container  {
  font-size: 10px;
}

h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 700;
}

p,
label {
  font-size: 1.3rem;
}

input {
  font-size: 1.1rem;
}

li button {
  font-size: 1rem;
}

form button {
  font-size: 1.3rem;
}
