//FONTS
@import url("https://fonts.googleapis.com/css?family=Manjari:100,400,700&display=swap");

//COLORS
$colors: (
  text: darken(#7f8688, 30%),
  submit: #929d9e,
  buttons: #f3e367
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

//VARIABLES
$family-font: "Manjari", sans-serif;

//GENERAL
* > {
  box-sizing: border-box;
}

.main-container {
  font-family: $family-font;
  text-transform: capitalize;
  color: color(text);
}

a {
  color: color(text);
  text-decoration: none;
}

button {
  cursor: pointer;
  color: color(text);
  text-transform: capitalize;
  &:focus {
    outline: 0;
  }
}
