<div class="form-container">
    <h2>signup</h2>
    <form ngNativeValidate>
        <ul>
            <li><label for="username">username</label><br />
                <input type="text" name="username" [(ngModel)]="newSignupInput.username" required /></li>
            <li><label for="name">name</label><br />
                <input type="text" name="name" [(ngModel)]="newSignupInput.name" required /></li>
            <li><label for="secret">your secret</label><br />
                <input type="text" name="secret" [(ngModel)]="newSignupInput.secret" required /></li>
            <li><label for="password">password</label><br />
                <input type="password" name="password" [(ngModel)]="newSignupInput.password" required /></li>
            <li><button (click)="signup()">create</button></li>
        </ul>
    </form>
</div>