<form ngNativeValidate>
    <p> Username
        <input type="text" name="username" [(ngModel)]="newSignupInput.username" required />
    </p>
    <p> Name
        <input type="text" name="name" [(ngModel)]="newSignupInput.name" required />
    </p>
    <p> Your Secret
        <input type="text" name="secret" [(ngModel)]="newSignupInput.secret" required />
    </p>
    <p> Password
        <input type="password" name="password" [(ngModel)]="newSignupInput.password" required />
    </p>
    <button (click)="signup()"> create </button>
</form>

<!-- 
<form (ngSubmit)="signupForm(signup)" #signup="ngForm" ngNativeValidate>
    <p> Username
        <input type="text" name="username" [(ngModel)]="newSignupInput.username" required />
    </p>
    <p> Name
        <input type="text" name="name" [(ngModel)]="newSignupInput.name" required />
    </p>
    <p> Your Secret
        <input type="text" name="secret" [(ngModel)]="newSignupInput.secret" required />
    </p>
    <p> Password
        <input type="password" name="password" [(ngModel)]="newSignupInput.password" required />
    </p>
    <button type="submit"> create </button>
</form> -->
