<div class="main-container">
  <app-header (views)="selectView($event)" ></app-header>
  <div class="container">
    <div>
      <app-auth-signup *ngIf="view === 'signup'" (newSignup)="signupForm($event)"></app-auth-signup>
      <app-auth-login *ngIf="view === 'login'" (newLogin)="submitForm($event)"></app-auth-login>
    </div>
    <!-- <router-outlet (newLogin)="submitForm($event)">
        <app-auth-signup (newSignup)="signupForm($event)"></app-auth-signup>
    </router-outlet> -->
  </div>
</div>
